.main {
    display: flex;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.step {
    flex: 1 1 400px;
    margin: 20px;
    text-align: center;
}

.step h2 {
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
}


h1 {
    text-align: center;
}