header, footer {
    height: 50px;
    background-color: gray;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.main1 {
    width: 48vw;
    height: 22vw;
    margin: 1vw;
    background-color: green;
}

.main23 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main2, .main3 {
    width: 24vw;
    height: 10vw;
    margin: 1vw;
    background-color: purple;
}


@media screen and (max-width:800px) {
    .main1 {
        width: 50vw;
    }
    .main23 {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:600px) {
    .main23 {
        flex-wrap: wrap;
    }
    .main1 {
        flex: auto;
    }
    .main2, .main3 {
        width: 50vw;
        flex: auto;
    }
}