* {
    margin: 0;
    /* box-sizing: border-box; */
  }
  
  html, body {
    font-size: 18px;
    font-family: sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .button-group {
    text-align: center;
  }
  
  button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
  }
  
  button:active {
    background: #000;
    color: #fff;
  }

.slider {
    border: 2px solid black;
    width: 225px;
    height: 225px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    display: flex;
    width:  1125px;
    height: 225px;
    position: relative;
    left: 0;
    transition: all ease 0.7s;
}