#we{
    text-decoration: underline;
}
h1{
    border:4px dashed red;
}
#qw{
    font-style: italic;
    border: 3px solid turquoise;
    width: 600px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
#p1{
    text-align: right;
}
#p2{
    text-align: center;
}
#p3{
    text-align: justify;
}
#q1{
    border-top: 2px dotted black;
    border-right: 5px double red;
    border-bottom: 5px solid orange;
    border-left: 2px solid blue;
    margin-top: 15px;
}
#p4{
    font-size: 14px;
    border: 2px solid fuchsia;
}