.title{
    color: black;
    font-size: 35px;
    margin-top: 20px;
}
.date{
    color: green;
    font-size: 20px;

}
.year{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.info{
    color: blue;
    font-style: italic;
    font-size: 20px;
}
.link2{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
p, a{
    margin: 0;
}
