.conteiner-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.conteiner-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div {
    width: 20vw;
    height: 20vw;
    margin: 1vw;
    background-color: aqua;
}