.row{
    box-sizing: border-box;   
}

.column{
    float: left;
    width: 25%;
}
.column p, .column h2{
    margin: 20px;
}
@media screen and (max-width: 992px) {
    .column{width:50%;}
}
@media screen and (max-width: 600px) {
    .column{width:100%;}
}