.gridContainer {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-template-areas: 
        'header header header'
        'nav article ads'
        'footer footer footer';
        grid-gap: 10px;
        height: 100vh;
}

header, article, nav, footer {
    background-color: gold;
    padding: 20px;
}

#pageHeader {
    grid-area: header;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}

#pageFooter {
    grid-area: footer;
}

