.container {
    margin: 10px 0 0 80px;
}
label {
    width: 15%;
    float: left;
    font-size: 20px;
    padding-top: 7px;
}
.input, .icons {
    margin-left: 15%;
    width: 50%;
}
.form-group {
    width: 100%;
    margin-top: 10px;
}
.input input {
    box-sizing: content-box;
    font-size: 20px;
    padding: 7px 0 7px 0;
    width: 80%;
}
a {
    text-decoration:  none;
    color: rgb(30, 48, 80);
}
i {
    font-size: 40px;
    padding-right: 1vw;
    padding-top: 1.2vw;
    color: rgb(30, 48, 80);
}

.form-group:nth-child(3) .input{
    float: left;
    margin-left: 0;
}
.button {
  margin-left: 65%;
}

button {
    font-size: 20px;
    width: 15%;
    border: none;
    background-color: unset;
    color: blue;
    padding-top: 5px;

}
i:hover {
    transform: rotateX(50deg);
    color: blue;

}

@media screen and (max-width: 800px) {
    .container {
          margin: 10px 0 0 5px;
    }
    label, .input input, button {
        font-size: 13px;
        padding: 0;

    }
    .input {
      padding-left: 5px;
    }
    i {
      font-size: 30px;
      padding-left: 5px;
    }
}